<div class="container mt-5 text-center">
  <h1 class="display-4 mb-4">Welcome to Your Rails Application</h1>
  <p class="lead">
    This is the home page. You can start building your features here.
  </p>
  <hr class="my-4">
  <p>
    If you need help, check out the Rails documentation or ask a question.
  </p>
</div>
